In [ ]:
import pandas as pd
import pymongo
import os
from dotenv import load_dotenv

load_dotenv()
df = pd.read_csv("data.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
# we have to push this data to mongodb that is the reason we are converting this to dictionary
data = df.to_dict(orient='records')
data[0]

{'id': 1,
 'Gender': 'Male',
 'Age': 44,
 'Driving_License': 1,
 'Region_Code': 28.0,
 'Previously_Insured': 0,
 'Vehicle_Age': '> 2 Years',
 'Vehicle_Damage': 'Yes',
 'Annual_Premium': 40454.0,
 'Policy_Sales_Channel': 26.0,
 'Vintage': 217,
 'Response': 1}

In [ ]:
DB_NAME = 'Vehicle_insurance'
COLLECTION_NAME = 'vehicle_insurance_data'
CONNECTION_URI = os.getenv(MONGODB_URL)

In [19]:
client  = pymongo.MongoClient(CONNECTION_URI)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [20]:
record = collection.insert_many(data)

In [22]:
records = collection.find()
records

In [ ]:
type(record)

pymongo.results.InsertManyResult

: